.footer {
    height: 80px;
    background: #eccfba; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eec4aa, #aeb5e3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7bcad, #b6bdea);

    display: flex;
    justify-content: center;
    align-items: center;

    &-text {

    }
}